* { padding: 0; margin: 0; }

html {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.background {
    padding: 0px;
    margin: 0px;
    background: #031948; /* Old Browsers */
    background: -webkit-linear-gradient(top right,#a02b51,#392844); /*Safari 5.1-6*/
    background: -o-linear-gradient(top right,#a02b51,#392844); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top right,#a02b51,#392844); /*Fx 3.6-15*/
    background: linear-gradient(top right, #a02b51, #392844); /*Standard*/
    height: 100%;
    width: 100%;
}

#nametag-container {
    margin:0;
    padding: 0;
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 100%;
}

.vignette {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#particles-js {
    opacity: 0.6;
    position: absolute;
    z-index: 5;
    height: 99.74%;
    width: 100%;
}

#spinner {
    opacity: 0;
    background-color: #FAFAFA;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
}

.nametag-container {
    text-align: center;
    position: relative;
    display: inline-block;
    z-index: 7;
}

.nametag {
    position: relative;
    padding: 10px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
}

.nametag span {
    color: #FAFAFA;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.firstName {
    font-weight: 300;
    opacity: 0.8;
}

.lastName {
    opacity: 0.85;
}

.occupation {
    font-size: 45px !important;
    color: white !important;
    opacity: 0.6;
    font-family: 'Open Sans', sans-serif !important;
}

.arrow-down {
    position: relative;
    width: 0;
    height: 0px;
    left: 45%;
    top: -4px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgba(0,0,0,0.3);
    -ms-transform: scale(1,0.5); /* IE 9 */
    -webkit-transform: scale(1,0.5); /* Safari */
    transform: scale(1,0.5); /* Standard syntax */
}

#csv-loader {
    background-color: black;
    z-index: 50;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}

#csv-loader span {
    pointer-events: none;
    position: relative;
    color: #FFC107;
    font-family: Roboto;
    font-weight: 200;
    font-size: 5em;
}

#csv-loader input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

#csv-loader .file-dummy {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

#csv-loader .file-dummy .success {
    color: black;
    display: none;
}

#csv-loader input[type=file]:valid + .file-dummy .success {
    display: inline;
    color: black;
}

#csv-loader input[type=file]:valid + .file-dummy .default {
  display: none;
}
